{% if site.conference.countdown_enabled %}
<div class="countdown" id="countdown" data-date="{{ site.conference.date }}" aria-label="Countdown to conference">
  <div class="countdown__unit">
    <span class="countdown__value" data-unit="days">00</span>
    <span class="countdown__label">Days</span>
  </div>
  <span class="countdown__separator" aria-hidden="true">:</span>
  <div class="countdown__unit">
    <span class="countdown__value" data-unit="hours">00</span>
    <span class="countdown__label">Hours</span>
  </div>
  <span class="countdown__separator" aria-hidden="true">:</span>
  <div class="countdown__unit">
    <span class="countdown__value" data-unit="minutes">00</span>
    <span class="countdown__label">Minutes</span>
  </div>
  <span class="countdown__separator" aria-hidden="true">:</span>
  <div class="countdown__unit">
    <span class="countdown__value" data-unit="seconds">00</span>
    <span class="countdown__label">Seconds</span>
  </div>
</div>
{% endif %}
